
div{
    float: left;
}

.filha{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 10px;
    box-shadow: 0 0 15px 0 black;
}

@media (min-width : 361px ) and(max-width: 760px){
    .div{
        width: 50%;
    }
}
