

ul li::after {
    content: ' test';
    background-color: brown;
}

p::first-line{
    background-color: blue;
}

p::selection{

    background-color: chartreuse;
    color: black;
}

::placeholder{
    color:blue
}

